{% extends 'base.html.twig' %}
{% block stylesheet %}
{% endblock %}
{% block body %}


    <h1>Stock</h1>
    <div class="m-content">
        <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
            <div class="m-alert__icon">
                <i class="flaticon-exclamation m--font-brand"></i>
            </div>
            <div class="m-alert__text">
                The grouping indicator is added by the drawCallback function, which will parse through the rows which are displayed, and enter a grouping TR element where a new group is found.
                See official documentation
                <a href="https://datatables.net/examples/advanced_init/row_grouping.html" target="_blank">
                    here
                </a>
                .
            </div>
        </div>
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                        Stock
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="" data-toggle="modal" data-target="#m_modal_1_2" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" >
												<span>
													<i class="la la-plus"></i>
													<span>
														Nouveau stock
													</span>
												</span>
                            </a>
                        </li>
                        <li class="m-portlet__nav-item">
                            <a href="" data-toggle="modal" data-target="#m_modal_1_2_2" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" >
												<span>
													<i class="la la-plus"></i>
													<span>
														Nouveau Produit
													</span>
												</span>
                            </a>
                        </li>
                        <li class="m-portlet__nav-item"></li>

                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <!--begin: Datatable -->
                <table class="table table-striped- table-bordered table-hover table-checkable display" id="example">
                    <thead>
            <tr>
                <th>Id</th>
                <th>Date Debut</th>
                <th>Categorie</th>
                <th>Produit</th>
                <th>Quantite</th>
                <th>Disponibilités</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td><a href="{{ path('stock_show', { 'id': stock.id }) }}">{{ stock.id }}</a></td>
                <td>{{ stock.dateDebut|date("d/m/Y") }}</td>
                <td>{{ stock.idProduit.idCategorie.nom }}</td>
                <td>{{ stock.idProduit.libelle }}</td>
                <td>{{ stock.quantite }}</td>
                <td> chez {{ stock.idUser.username }}</td>
                <td>
                    <a href="{{ path('stock_edit', { 'id': stock.id }) }}">  <i class="fas fa-edit" ></i></a>

                    <a href="{{ path('stock_delete', { 'id': stock.id }) }}"> <i class="fas fa-times" style="margin-left: 0.5cm"></i></a>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
     </div>
    <!--modal Start -->
    <div class="modal fade" id="m_modal_1_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Stock</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >

                    <center><h1>Nouveau stock</h1></center>

                  {{ render(controller('LeoBundle:Stock:new')) }}
                </div>



            </div>
        </div>
    </div>
    <!--modal Product Start -->
    <div class="modal fade" id="m_modal_1_2_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Produit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >

                    <center><h1>Nouveau Produit</h1></center>

                    {{ render(controller('LeoBundle:Produit:new')) }}

                </div>



            </div>
        </div>
    </div>


    {% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            var groupColumn = 2;
            var table = $('#example').DataTable({
                "columnDefs": [
                    { "visible": false, "targets": groupColumn }
                ],
                "order": [[ groupColumn, 'asc' ]],
                "displayLength": 25,
                "drawCallback": function ( settings ) {
                    var api = this.api();
                    var rows = api.rows( {page:'current'} ).nodes();
                    var last=null;

                    api.column(groupColumn, {page:'current'} ).data().each( function ( group, i ) {
                        if ( last !== group ) {
                            $(rows).eq( i ).before(
                                '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                            );

                            last = group;
                        }
                    } );
                }
            } );

            // Order by the grouping
            $('#example tbody').on( 'click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if ( currentOrder[0] === groupColumn && currentOrder[1] === 'asc' ) {
                    table.order( [ groupColumn, 'desc' ] ).draw();
                }
                else {
                    table.order( [ groupColumn, 'asc' ] ).draw();
                }
            } );
        } );
    </script>
{% endblock %}